td, th {
  border: 1px solid;
  width: 50px;
  height: 50px;
  text-align: center;
  caret-color: transparent;
}
.booking_cell {
  background: lightgray;
}
.booked_cell {
  background: gray;
}
.section_subtotal {
  background: yellow;
}
.booking_subtotal {
  background: #C0C000;
}
.section_total {
  background: red;
}
.booking_total {
  background: #C00000;
}
.total {
  background: red;
}
.dice {
  background: cyan;
}
.pinned_dice {
  background: darkcyan;
}
